/* General styles */

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url(../assets/fonts/Heebo.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: url(../assets/images/layout-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
